.banner {
  padding: 80px 100px;

  .container {
    position: relative;
    background: #3734A9;
    border-radius: 20px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 56px;
      font-weight: 800;
      color: white;
      text-align: center;
    }

    button {
      border: none;
      height: 65px;
      width: 225px;
      background: #FF7F5C;
      border-radius: 10px;
      color: white;
      font-size: 18px;
      z-index: 99;
    }

    .shape {
      position: absolute;
      left: 50px;
      top: 60px;
      display: flex;
      gap: 2rem;

      .circle {
        width: 10px;
        height: 10px;
        border-radius: 1px;
        background: rgba(255, 255, 255, 0.247);
        margin-bottom: 2rem;
      }
    }

    .cone1, .cone2 {
      position: absolute;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-radius: 50%;
      opacity: .5;
    }
    .cone1{
      border-bottom: 80px solid #FDBC64;
      right: 10%;
      bottom: 10%;
      transform: rotate(-60deg);
    }
    .cone2{
      border-bottom: 60px solid #E8F2FF;
      right: 16%;
      bottom: 18%;
      transform: rotate(-60deg);
    }
  }
}

@media (max-width: 477px) {
  .banner {
    padding: 10px;

    .container {
      height: auto;
      border-radius: 5px;
      padding: 10px;

      h1 {
        font-size: 36px;
      }

      button {
        height: 50px;
        margin-bottom: 1rem;
      }
    }
  }
}